

.main-content {
	margin-top:64px;
}

/*== Bagian Koordintaor ====================================================================================================*/

.main-content .m-misi {
	margin-top:20px;
}

.main-content .m-misi .mk-title {
	text-align: center;
}

.main-content .m-misi .mk-wrapper {

}

.main-content .m-misi .mk-wrapper .mk-item {
	
	padding: 10px;
	float: left;
	width: 100%;

}

.main-content .m-misi .mk-wrapper .mk-item .mk-image {
	// width: 150px;
	// height: 150px;

	width: 100px;
	height: 100px;

	overflow: hidden;
	border-radius: 75px;
	
	margin-left: calc(50% - 50px);
	float: left;

	z-index:2;
}

.main-content .m-misi .mk-wrapper .mk-item .mk-image img {
	height: 100%;
}

.main-content .m-misi .mk-wrapper .mk-item .mk-title {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	
	width: 100%;
	float: left;
	height: 60px;


}

.main-content .m-misi .mk-wrapper .mk-item .mk-desc {
	width: 100%;
	float: left;
	text-align: center;

	height: 70px;
}

.main-content .m-misi .mk-wrapper .mk-item .mk-button {
	width: 100%;
	float: left;
	text-align: center;
	margin-top:10px;
}


/*== Bagian Berita Terbaru =================================================================================================*/

.main-content .m-berita-terbaru {
	padding-top: 50px;
	padding-bottom: 50px;

	background: #f1f4f9;
}

.main-content .m-berita-terbaru .mbt-title {
	float: left;
	margin: 30px;
	text-align: center;
	width: 100%;

	// border-bottom: solid #252C3B 1px;
	float: left;

}

.main-content .m-berita-terbaru .mbti-info .info-module {
	width: 50%;
	float: left;
}

.main-content .m-berita-terbaru .mbt-wrapper {

}

.main-content .m-berita-terbaru .mbt-wrapper .mbt-item {
	width: 100%;
	// padding: 10px;
	float: left;
	background: white;

	height: 600px;

}

.main-content .m-berita-terbaru .mbt-wrapper .mbt-item:hover {
	background: #F3F3F3;
	border-radius: 5px;
}

.main-content .m-berita-terbaru .mbt-wrapper .mbt-item .mbti-img {
	width: 100%;
	height: 300px;
	overflow: hidden;
	float: left;
}

.main-content .m-berita-terbaru .mbt-wrapper .mbt-item .mbti-img .mbti-label {
	background: #B64926; position: absolute; top:0; padding: 5px 10px 5px 10px; color: white;
}

.main-content .m-berita-terbaru .mbt-wrapper .mbti-img .mbti-image-content {
	height:300px;
}

.main-content .m-berita-terbaru .mbt-wrapper .mbt-item .mbti-title {
	margin: 0;
	line-height: 130%;
	float: left;
	width: 100%;
	padding: 10px 20px 0 20px;

	display: flex;
	justify-content: center;
	flex-direction: column;
	
	float: left;
	height: 100px;
}

.main-content .m-berita-terbaru .mbt-wrapper .mbt-item .mbti-info {
	width: calc(100% - 40px);
	float: left;
	padding: 0 0 10px 0;
	margin: 0 20px 10px 20px;

	border-bottom: solid #F0F2F4 1px;
}

.main-content .m-berita-terbaru .mbt-wrapper .mbt-item .mbti-info .info-module {
	width: 50%; 
}

.main-content .m-berita-terbaru .mbt-wrapper .mbt-item .mbti-desc {
	padding: 10px 20px 10px 20px;
	text-align: justify;
	float: left;
	height: 80px;
}

.main-content .m-berita-terbaru .mbt-wrapper .mbt-item .mbti-button {
	width: 100%;
	float: left;
	padding: 20px 20px 20px 20px;
	text-align: right;
}