.panduanstudi-content {
	padding: 0;
	margin-top:64px;
	background: #f1f4f9;
}

.panduanstudi-content .psc-item {
	background: white;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;

	width: 100%;
	float: left;
}

.panduanstudi-content .psc-item .psci-content {
	padding: 20px;
}

.panduanstudi-content .psc-item .psci-content .content-title {
	
}

.panduanstudi-content .psc-item .psci-content .content-title .logo {
	width: 100%;
	float: left;
}

.panduanstudi-content .psc-item .psci-content .content-title .logo img {
	display: block;
    margin: 0 auto;
    height: 100px;
    margin-bottom: 20px;

}

.panduanstudi-content .psc-item .psci-content .content-title h2, h3, h4 {
	padding: 4px 0;
	margin: 0;
	width: 100%;
	text-align: center;
}

.panduanstudi-content .psc-item .psci-content .content-item {
	margin-top:30px;
}


/*== Bagian Beasiswa Wrapper ===============================================================================================*/

.beasiswa-content {
	margin-top:64px;
}

.beasiswa-content .beasiswa-wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
	background: #f1f4f9;
}

.beasiswa-content .beasiswa-wrapper .beasiswa-item {
	background: white;
	float: left;
	width: 100%;
	
}

.beasiswa-content .beasiswa-wrapper .beasiswa-item .bi-thumbnail {
	width: 35%;
	float: left;
	height: 300px;
}

.beasiswa-content .beasiswa-wrapper .beasiswa-item .bi-description {
	width: 65%;
	float: left;
}


.beasiswa-content .beasiswa-wrapper .beasiswa-item .bi-description .bid-title {
	float: left;
	width: 100%;
	padding: 10px 20px 0 20px;
	font-size: 20px;
}

.beasiswa-content .beasiswa-wrapper .beasiswa-item .bi-description .bid-tanggal {
	float: left;
	width: calc(100% - 40px);
	padding-bottom: 10px;
	margin: 5px 20px 5px 20px;

	border-bottom: solid #F0F2F4 1px;
}

.beasiswa-content .beasiswa-wrapper .beasiswa-item .bi-description .bid-persyaratan {
	float: left;
	width: 100%;
	padding: 10px 20px 10px 20px;
}

.beasiswa-content .beasiswa-wrapper .beasiswa-item .bi-description .bid-button {
	width: 100%;
	padding: 10px 20px 10px 20px;
	float: left;
	text-align: right;	
}

/*== Bagian Beasiswa Item Wrapper ==========================================================================================*/

.beasiswa-item-content {
	margin-top:64px;
	background: #f1f4f9;
}

.beasiswa-item-content .beasiswa-item-wrapper {

}

.beasiswa-item-content .beasiswa-item-wrapper .bic-item {
	background: white;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

.beasiswa-item-content .beasiswa-item-wrapper .bic-item .item-poster {
	width: 100%;
	float: left;
}

.beasiswa-item-content .beasiswa-item-wrapper .bic-item .item-poster img{
	display: block;
    margin: 0 auto;
}

.beasiswa-item-content .beasiswa-item-wrapper .bic-item .item-title {
	float: left;
	width: calc(100% - 60px);
	padding: 10px 0 10px 0;

	margin: 0 30px;

	border-bottom: solid #F0F2F4 1px;
}

.beasiswa-item-content .beasiswa-item-wrapper .bic-item .item-title h3 {
	width: 100%;
	float: left;
	text-align: left;

	padding: 20px 0;
}

.beasiswa-item-content .beasiswa-item-wrapper .bic-item .item-title .tw-date {
	width: 50%;
	text-align: left;
	float: left;
}


.beasiswa-item-content .beasiswa-item-wrapper .bic-item .item-title .tw-author {
	text-align: right;
	width: 50%;
	float: right;
}

.beasiswa-item-content .beasiswa-item-wrapper .bic-item .item-content {
	float: left;
	padding: 10px 30px 30px 30px;
	width: 100%;
	text-align: justify;
	line-height: 200%;
}